.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $extraBackgroundColor;
}

.footer__wrapper {
  display: flex;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__logo--inverse {
  color: $primaryWhiteColor;
}

.address__item {
  width: 231px;
}

.address__item:first-child {
  margin-bottom: 9px;
}

.address__item:nth-child(2) {
  margin-bottom: 6px;
}

.address__link {
  display: inline-block;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  color: $secondaryTextColor;

  transition: color 250ms $cubicBezier;
}

.address__link--inverse {
  color: $primaryWhiteColor;
}

.address__link:hover,
.address__link:focus {
  color: $accentColor;
}

.join {
  margin-left: 70px;
  padding-top: 12px;
}

.join__text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primaryWhiteColor;
}

.soc-join {
  display: flex;
}

.soc-join__item + .soc-join__item {
  margin-left: 10px;
}

.soc-join__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;

  color: $primaryWhiteColor;
  background-color: $iconBackgroundColor;

  transition: background-color 250ms $cubicBezier;
}

.soc-join__link:hover,
.soc-join__link:focus {
  background-color: $accentColor;
}

.soc-join__icon {
  fill: currentColor;
}
